---
layout: default
permalink: /blog/
---

{% capture catlist %}
<ul>
    {% for cat in site.categories %}
    {% assign n = cat[0] %}
    <li><a href="{{  cat.url }}" title="{{ n }}"><img width="52px"
    src="/assets/img/fullfolder.png" />{{ n }}</a></li>
    {% endfor %}
</ul>
{% endcapture %}

{{ catlist }}

{% capture filelist %}
<ul>
    {% for post in site.posts %}
    <li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico"
                title="{{ post.title }}" />{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endcapture %}