<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    user-scalable=no">
    <meta name="description" content="Markos Horro">
    <meta name="author" content="Markos Horro">
    <link rel="stylesheet" href="/assets/css/atom-one-light.css">
    {% if page.title or page.title == 'me' %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/002.css">
    {% else %}
    <title>{{ site.name }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/001.css">
    {% endif %}
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/windows95.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="/assets/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('time').innerHTML =
                h + ":" + m;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }
    </script>

</head>