<div class="tag_list">
    <ul id="tag-list">
        <li><a href="/me"><img src="/assets/img/disk.png" /> About me (C:)</a>
            <ul>
                {% for p in site.aboutme %}
                <li><a href="/me/"><img src="/assets/img/file.png" />{{
                p.lang }}</a></li>
                {% endfor %}
            </ul>

        </li>
    </ul>
    <ul id="tag-list">
        <li><a href="/projects"><img src="/assets/img/disk.png" /> Projects (D:)</a>
            <ul>
                {% assign cats = site.projects | sort %}
                {% for cat in cats %}
                <li><a href="/projects/{{ cat.name }}/" title="{{ cat.name }}"><img
                            src="/assets/img/folder.ico" />{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <ul id="tag-list">
        <li><a href="/blog"><img src="/assets/img/disk.png" /> Blog (E:)</a>
            <ul>
                {% assign cats = site.categories | sort %}
                {% for cat in cats %}
                <li><a href="/blog/{{ cat[0] }}/" title="{{ cat[0] }}"><img
                            src="/assets/img/folder.ico" />{{ cat[0] }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>